/* make everything border-box */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* give document background color and fullscreen */
body {
  background-color: #D0D9B3;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* use border for debugging flexbox! */
* {
  /* border: 1px solid rgb(255, 193, 193);  */
  margin: 0;
  padding: 0;
}

#outer-container {
  width: 400px;
  height: 600px;
  background-color: rgb(112, 112, 112);
  border-radius: 40px;
  box-shadow: 2px 2px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inner-container {
  width: 95%;
  height: 95%;
  background-color: rgb(46, 46, 46);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#output-container {
  width: 95%;
  height: 100px;
  border: 5px solid rgb(112, 112, 112);
  border-radius: 30px;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#output {
  color: white;
  font-size: 60px;
  margin-right: 15px;
}

#button-container {
  width: 95%;
  flex: 1;
  margin: 15px 0 20px 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

button {
  width: 25%;
  height: 20%;
  border-radius: 5px;
  font-size: 25px;
  background-color: rgb(234, 234, 234);
}

button#zero {
  width: 50%;
}

button.number {
  background-color: rgb(190, 190, 190);
}

button.operator {
  background-color: #f79256;
  color: white;
}